<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/pets.css" />
    <link rel="stylesheet" href="/stylesheets/global.css" />
    <title>My Pets for Adoption</title>
  </head>
  <body>
    <%- include('../partials/_navbar') %>
    <h1 style="text-align: center; margin-top: 1rem">
      My Pets Listed for Adoption
    </h1>

    <div class="scroll-wrapper">
      <div class="scroll-container">
        <ul>
          <% pets.forEach(pet => { %>
          <li>
            <strong><%= pet.name %></strong>
            (<%= pet.breed %>, <%= pet.age %>, <%= pet.gender %>) <% if
            (pet.photos && pet.photos.length > 0) { %>
            <img src="<%= pet.photos[0].medium %>" alt="<%= pet.name %>" />
            <% } %>
            <div class="card-buttons">
              <a href="/pets/<%= pet._id %>" class="btn small-btn">View</a>
              <a
                href="/pets/<%= pet._id %>/applications/new"
                class="btn secondary-btn small-btn"
                >Apply</a
              >
            </div>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>
