<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/pets.css" />
    <title><%= pet.name %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= pet.name %> - <%= pet.breed %></h1>
    <p>Age: <%= pet.age %></p>
    <p>Gender: <%= pet.gender %></p>
    <p>Owner: <%= pet.owner.username %></p>
    <a href="/pets/<%= pet._id %>/applications/new" class="btn secondary-btn"
      >Apply to Adopt</a
    >
    <form
      action="/pets/<%= pet._id %>/edit"
      method="GET"
      style="display: inline"
    >
      <button type="submit">Edit Pet</button>
    </form>
    <form
      action="/pets/<%= pet._id %>?_method=DELETE"
      method="POST"
      style="display: inline"
    >
      <button type="submit">Delete Pet</button>
    </form>
    <p></p>
    <% if (user && user._id !== pet.owner._id.toString()) { %>
    <a href="/pets/<%= pet._id %>/applications/new" class="btn"
      >Apply to Adopt</a
    >
    <% } %>
  </body>
</html>
