<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/users.css" />
    <link rel="stylesheet" href="/stylesheets/global.css" />
    <title>My Dashboard</title>
  </head>
  <body>
    <%- include('../partials/_navbar') %>

    <h2>My Pets Listed for Adoption</h2>
    <ul>
      <% myPets.forEach(pet => { %>
      <li>
        <a href="/pets/<%= pet._id %>"><%= pet.name %></a>
        <a href="/pets/<%= pet._id %>/edit">(edit)</a>
      </li>
      <% }) %>
    </ul>

    <h2>My Adoption Applications</h2>
    <ul>
      <% allApps.forEach(app => { %>
      <li>
        For
        <a
          href="<%= app.type === 'internal' ? '/pets/' + app.petId : '/explore/' + app.petId %>"
        >
          <%= app.petName %>
        </a>
        <% if (app.status) { %> — Status: <%= app.status %>
        <a href="/pets/<%= app.petId %>/applications/<%= app.appId %>/edit"
          >(edit or withdraw)</a
        >
        <% } else { %> — Sent: <%= app.date.toDateString() %>
        <a href="/applications/api/<%= app._id %>/edit">(edit)</a>
        <% } %>
        <br />
        <strong>Your message:</strong> <%= app.message %>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
